div.footer {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0;
  color: grey;
  background-color: #000;
  margin-top: 10px;
}

div.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-description {
  text-align: center;
  color: white;
  background-color: rgb(71, 177, 209);
}

input[type=text] {
  width: 75vw;
  margin: 8px 0;
}

textarea {
  width: 75vw;
  margin: 8px 0;
  height: 150px;
}

div.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: grey;
}

img.banner {
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  height: 200px;
  width: 200px;
  background-color: blue;;
}
